body {
    font-family: fantasy;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    background-color: pink;
}

h1 {
    color: #E388C0;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    border-radius: 25px;
    width: 200px;
    height: 200px;
    border: 5px dashed #E388C0;
}